
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    color: white;
    background-color: #22292F;
}

body > div {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 50%;
    transform: translateY(-50%);
    width: 160px;
}

body > div img {
    position: relative;
    display: block;
}
body > div h1 {
    position: relative;
    display: block;
    text-align: center;
}
